:root {
   --board-border:2px solid #000;
}

 

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
 background: #fff;
}

a {
  color: inherit;
  text-decoration: none;
}


.main {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

 
 .board{ 
  display: grid;
  grid-template-columns: repeat(9, 50px);
  grid-template-rows: repeat(9, 50px);
  gap: 0px;
  border: var(--board-border);;
     
 }

 .board .cell {
  width: 50px;
  height: 50px;
  color: #000000;
  background: #ffffff;
  display: flex;
  justify-content: center;
  border: 1px solid #7b8173;
  align-items: center; 
  font-size: 25px;
  font-weight: 700; 
    
 }
.cell:nth-child(3n) {
  border-right: var(--board-border);;
}

.cell:nth-child(3n+1) {
  border-left:var(--board-border);;
}

 

.cell:nth-child(n+19):nth-child(-n+27),
.cell:nth-child(n+46):nth-child(-n+54),
.cell:nth-child(n+73):nth-child(-n+81) {
  border-bottom:var(--board-border);
}
 
.cell:nth-child(n+1):nth-child(-n+9),
.cell:nth-child(n+28):nth-child(-n+36),
.cell:nth-child(n+55):nth-child(-n+63) {
  border-top: var(--board-border);
}